<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numero</ion-label>
    <ion-input [(ngModel)]="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button *ngIf="contactId==undefined"  (click)="save()"  color="danger">Guardar</ion-button>
    <ion-button *ngIf="contactId!=undefined"  (click)="update()"  color="danger">Actualizar</ion-button>
  </ion-item>

  
</ion-content>
