<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list line="none">
      <ion-item-sliding *ngFor="let contact of contacts">
        <ion-item-options side="start">
          <ion-item-option color="warning" [routerLink]="['/tabs/tab2', contact.key]" ><ion-icon  style="font-size:30px"  name="create-outline"></ion-icon></ion-item-option>
          
        </ion-item-options>
    
        <ion-item >
          <ion-row style="width: 100%;">
            <ion-col size="2">
              <ion-avatar>
                <ion-img src="https://i.pinimg.com/236x/e0/b7/e8/e0b7e895361da676c3d709170508cc39.jpg"></ion-img>
              </ion-avatar>
            </ion-col>
            <ion-col size="8">
              <ion-label style="margin-left: 16px;" class="ion-text-wrap">
            
                <ion-text color="primary">
                  <h3>{{contact.name}}</h3>
                </ion-text>
                <p>{{contact.number}}</p>
               
              </ion-label>
            </ion-col>
            
          </ion-row>
          
          
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteConfirm(contact.key)"><ion-icon style="font-size:30px" name="trash-outline"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      
      
    </ion-list>

</ion-content>
